body {
    background-color: rgba(230, 216, 129, 0.56);
    display: block;
}
#chartContainer {
    /*background: linear-gradient(90deg, #E6D881, #8CB0E6, #87A9E6);*/
    background-image: url('../images/sunsethillsback.png');
    height: 370px;
    width: 100%;
    border: solid black 2px;
}
button {
    color: #fff!important;
}
h1 {
    font-size: 70px!important;
    font-weight: bold;
    color:
}
.card-body {
    background-color: rgba(230, 216, 129, 0.56);
}
.card-header {
    background-color: rgba(230, 216, 129, 0.56);
}
.howMany {
    font-size:50px;
    font-weight: bold;
}
.whichOnes {
    font-size:40px;
    font-weight: bold;
}